[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
falcon = "*"
motor = "*"
msgspec = "*"
uvicorn = "*"
pyjwt = "*"
mailjet-rest = "*"
pip = "*"
install = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
